/* Booking.css
   Styles specific to the booking page (Booking.html). */

/* Booking APPT */

#session-background{
    background-color: #D9D9D9;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-content: start;

}

#session-header{
    background-color: #28B9B2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    grid-column: span 2;
}

#session-footer{
    background-color: #28B9B2;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    grid-column: span 2;
    padding: 0 2rem;
}

#session-header p{
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px #5E5E5E;
}

#session-footer span{
    font-size: 1rem;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 400;
    color: white;
}

#booking-summary {
    font-weight: bold;
    font-size: 1.2rem;
    color: #1a1a1a;
}

#confirm-booking {
    background-color: #EE3A78;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#confirm-booking:hover {
    background-color: #d62d64;
}

/* Actual booking portion */
/* for 1, 2, 5, 6 */
.half-width{
    grid-column: span 1;
}

/* for 3 and 4 */
.full-width{
    grid-column: span 2;
}

.full-row{
    grid-column: span 2;
}

/* Sectioning */
.step-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.step-title{
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: sans-serif;
}

.step-num{
    background-color: #EE3A78;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
}

/* Sectioning content */
.card-content{
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #76c2c0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
}

.info-form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 1.5rem;
    padding: 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Label of text input*/
.form-group label {
    font-family: sans-serif;
    font-size: 1rem;
    color: #1a1a1a;
    padding-left: 0.5rem;
    font-weight: 300;
}

.styled-input {
    background-color: #D6F4F0;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 0 1.5rem;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.styled-input:focus {
    box-shadow: 0 0 5px 1px #EE3A78;

}

.size-notice-banner{
    background-color: #EE3A78;
    color: white;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    min-height: 55px;
    box-sizing: border-box;
}

.banner-title{
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.2rem;
}
.banner-subtext{
    font-size: 0.95rem;
    line-height: 1.25;
    font-weight: 400;
}

/* Dog or cat selection */
.dog-cat-list{
    display: flex;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.dog-cat-list .custom-radio{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 1.5rem;
    transition: background-color 0.2s ease;
}

.pet-label-text {
    background-color: #8a8a8a;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4px;
    text-align: center;
    width: 20vw;

}

.pet-icon{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 1rem;
    object-fit: contain;
    filter: brightness(0);
    transition: filter 0.2s ease;
}

.dog-cat-list .custom-radio input:checked ~ .pet-icon{
    filter: brightness(1);
}

.dog-cat-list .custom-radio input:checked ~ .pet-label-text{
    font-weight: bold;
    background-color: #ffcc00;
}

/* All Services */
.service-selection-container{
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 2rem;
    padding: 2.5rem;
    align-items: center;
}

.addons-container, .alac-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2.5rem;
}

.services-list, .addon-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.alac-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.custom-radio{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1a1a1a;
    user-select: none;
}

.custom-radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1a1a1a;
    user-select: none;
    width: 100%;
}

.custom-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-circle{
    height: 20px;
    width: 20px;
    background-color: #A0A0A0;
    border-radius: 50%;
    transition: border 0.2s ease;
}

.custom-radio input:checked ~ .radio-circle {
    background-color: #EE3A78;
    border: 2px solid #ffffff;
    outline: 2px solid #EE3A78;
}

.checkbox-box{
    height: 20px;
    width: 20px;
    background-color: #A0A0A0;
    border-radius: 4px;
    flex-shrink: 0;
    transition: border 0.2s ease;
}

.custom-checkbox input:checked ~ .checkbox-box {
    background-color: #EE3A78;
    border: 2px solid #ffffff;
    outline: 2px solid #EE3A78;
}

.service-details-box {
    background-color: #EE3A78;
    border-radius: 20px;
    padding: 1.5rem;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.service-description{
    font-size: 1.15rem;
    font-weight: 400;
    padding-left: 0.5rem;
}

.pricing-grid{
    background-color: #DCDCDC;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem 0;
    text-align: center;
    color: #000000;
}

.pricing-grid-addons{
    background-color: #DCDCDC;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;
    text-align: center;
    color: #000000;
}

.price-tier{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.size-letter{
    font-weight: 800;
    font-size: 1.1rem;
}

.price-amount{
    font-weight: 700;
    font-size: 1.05rem;
}

.service-text-wrapper {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    gap: 0.5rem;
}

.service-name{
    flex-shrink: 0;
}

.price-leader-line{
    flex-grow: 1;
    border-bottom: 2px dashed #1a1a1a;
    position: relative;
    top: -4px;
}

.ala-price{
    flex-shrink: 0;
}

.required{
    color: #e60000;
}

.imp-message{
    color: #ff0000;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 300;
}

/* Mobile */

@media (max-width: 850px) {
    /* AD */
    #adBooking {
        height: auto;
        padding: 15px 10px;
    }
    #adBooking p {
        font-size: 1.2rem;
        padding-top: 0;
        white-space: normal;
    }
}
